extends layout

block content

    h1 #{title}

    form(method='POST' enctype="multipart/form-data")
        div.form-group
            label(for='name') Color:
            input#name.form-control(type='text' placeholder='Red, Teal etc.' name='name' required value=(undefined===color ? '' : color.name) )
            br
            label(for='image') Image File Name:
            input#image.form-control(type='text' placeholder='red.jpg' name='image' required value=(undefined===color ? '' : color.imageLocation) )
        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg
